h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background: #fef7ed;
}
.container {
  width: 100%;
  text-align: center;
}
.container {
  max-width: 500px;
}
.signUp {
  display: none;
}
section {
  display: flex;
  justify-content: space-between;
}
h1 {
  text-align: left;
  color: #FFB5AB;
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-weight: 900;
}
h2 {
  margin-top: 8rem;
  color: #FF8B7B;
  font-family: 'Open Sans', sans-serif;
  font-size: 10rem;
  font-weight: 900;
}
h3 {
  margin-top: 20px;
  color: #3A54B4;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.6rem;
  font-weight: 200;
}
img.happy {
  border-radius: 60%;
  padding: 10px;
  width: 400px;
  -webkit-box-shadow: 10px 10px 42px 1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 10px 10px 42px 1px rgba(0, 0, 0, 0.45);
  box-shadow: 10px 10px 42px 1px rgba(0, 0, 0, 0.45);
  margin: 20px;
}
.navigation {
  display: none;
}
button {
  width: 380px;
  color: white;
  background-color: #3A54B4;
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 2rem;
  margin: 10px 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  cursor: pointer;
}
footer {
  padding-top: 160px;
}
.dropdown {
  cursor: pointer;
}
.dropdown .dropdown-button {
  width: 50px;
  height: 50px;
  border: 3px solid #FED955;
  background-color: #FED955;
  color: #fef7ed;
  font-size: 5rem;
  font-weight: bold;
  margin-right: -25px;
}
.dropdown .dropdown-content {
  width: 15%;
  position: absolute;
  background-color: #fef7ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: 2px solid #3A54B4;
}
.dropdown .dropdown-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 1.8rem;
  text-decoration: none;
  color: #3A54B4;
}
.dropdown .dropdown-link:hover {
  color: #3A54B4;
  background-color: #FFB5AB;
}
.dropdown .dropdown-hidden {
  display: none;
}
.moveButton {
  display: none;
}
@media (min-width: 1000px) {
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
  * {
    margin: 10px;
  }
  .navigation {
    display: flex;
    justify-content: flex-end;
    font-size: 0.5rem;
  }
  .navigation .yes {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .dropdown {
    display: none;
  }
  h1 {
    font-size: 4rem;
    color: #FF8B7B;
    margin-bottom: 1rem;
  }
  h2 {
    padding-top: 3rem;
    text-align: left;
    font-size: 12rem;
    width: 400px;
  }
  h3 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    margin-top: 25px;
  }
  .mid {
    display: flex;
    flex-direction: column;
  }
  .midSec {
    display: flex;
    margin-top: 180px;
    justify-content: center;
    text-align: center;
  }
  img.happy {
    width: 500px;
    margin-top: 30px;
    -webkit-box-shadow: 10px 10px 42px 1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 10px 10px 42px 1px rgba(0, 0, 0, 0.45);
    box-shadow: 10px 10px 42px 1px rgba(0, 0, 0, 0.45);
  }
  footer {
    padding-top: 320px;
  }
  button {
    width: 200px;
    font-size: 1.6rem;
  }
  .navigation {
    margin-top: -60px;
  }
  .signUp2 {
    display: none;
  }
  nav {
    margin-top: 25px;
    margin-right: 10px;
  }
  nav a {
    padding: 20px;
    font-size: 2rem;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
  a:link,
  a:visited {
    color: #66605e;
  }
  a:hover {
    color: #FF8B7B;
  }
}
