//LESS FILEhtml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  font-family: 'Open Sans',sans-serif;
      font-weight: 200px;
      font-size: 1.8rem;
      color: #403f3d;
    box-sizing: border-box;
}

html, body {
	height: 100%;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	background: #fef7ed;
}

.container {
    width: 90%;
    text-align: center;
 }

 @media (min-width: 500px) {

///header, fonts, buttons, hiding
    section {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        text-align: left;
        color: #FFB5AB;
        font-family: 'Open Sans',sans-serif;
        font-size: 30px;
        font-weight: 900;
        }

    h2 {
        text-align: center;
        color: #FF8B7B;
        font-family: 'Open Sans',sans-serif;
        font-size: 5rem;
        font-weight: 900;
    }

    .navigation {
        display: none;
        }
      button {
          display: none;
      }
    
      footer {
          padding-top: 160px;
          text-align: center;
      }

///DROPDOWN 
.dropdown {
    margin: 5px;
  cursor: pointer;
  .dropdown-button {
  width: 50px;
  height: 50px;
    padding: 20px;
    border: 3px solid#fef7ed;
    background-color: #FED955;
    color: #fef7ed;
    font-size: 10px;
    font-weight: bold;
  }
  .dropdown-content {
    width: 20%;
    position: absolute;
    background-color: #fef7ed;
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 10px;
    border: 2.5px solid #3A54B4;
  }
  .dropdown-link {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    text-decoration: none;
    color: #3A54B4;
    &:hover {
      color: #3A54B4;
      background-color: #FFB5AB;
    }
  }
  .dropdown-hidden {
    display: none;
  }
}
//// DROPDOWN END

////TEAM IMAGES
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 15px
}

///TEAM IMAGES
.team {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


////TABS

.tabs {
    
    margin-top: 100px;
    width: 300px;
    text-align: center;
    width: 100%;
    
    .tabs-items {
    margin: 1rem;
      height: 300px;
      display: flex;
      justify-content: center;
      padding-top: 60px;
      font-family: 'Open Sans',sans-serif;
      font-weight: 200px;
      font-size: 1.8rem;
      color: #403f3d;
      text-align: center;
    }
    .tabs-item {
    margin-left: 50px;
      display: none; 
      width: auto;
      text-align: center;
      .tabs-item-title {
        font-family: 'Open Sans',sans-serif;
        font-size: 24px;
        font-weight: 800px;
        text-align: center;
      }
    }
    .tabs-item-selected {
      display: block;
    }
  
    .tabs-links {
      display: flex;
      background-color:  #fef7ed;
    }
  
    .tabs-link {
      padding: 20px 25px;
      font-size: 24px;
      background-color: #3A54B4;
      border-right: 1px solid white;
      color: black;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #FED955;
      }
    }
    .tabs-link-selected {
      z-index: 2;
      border-right: 1px solid #fef7ed;
      background-color: #fef7ed;
      color: #403f3d;
      &:hover {
        background-color: #fef7ed;
      }
     }
    }
    a{
      text-decoration: none;
    }
////TABS END 
 }

///DESKTOP
@media (min-width: 1000px) {
  *{
    margin: 10px;
}

button{
  display: block;
}
  
.navigation {
display: flex;
justify-content: space-between;
margin-left: 250px;
font-size: 2rem;
    
.yes {
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
button {
  width: 380px;
  color: white;
  background-color: #3A54B4;
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  margin: 10px 4px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 200;
  

  cursor: pointer;
}
}
.dropdown {
    display: none;
}
h1 {
font-size: 4rem;
color: #FF8B7B;
margin-bottom: 1rem;

}
h2 {
padding-top: 3rem;
text-align: left;
margin-left: 20rem;
font-size: 12rem;
}

  
a {
  text-decoration: none;
}
a:link, a:visited {
  color: #66605e;
}
a:hover {
  color: #FF8B7B;
}

/////TABS
.tabs {
  width: 90%;
  .tabs-items {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }
  .tabs-item {
    display: none; 
      margin-left: 8rem;
    width: 75%;
    .tabs-item-title {
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 10px;
    }
  }
  .tabs-item-selected {
    display: block;
  }

  .tabs-links {
  margin-left: 10rem;
    display: flex;
    justify-content: center;
    background-color: #fef7ed;
  }

  .tabs-link {
    padding: 20px 25px;
    font-size: 24px;
    background-color: #3A54B4;
    border-right: 1px solid white;
    color: #fef7ed;
    cursor: pointer;
    &:hover {
      background-color: #3A54B4;
    }
  }
  .tabs-link-selected {
    z-index: 2;
    border-right: 1px solid #fef7ed;
    background-color: #fef7ed;
    color: black;
    &:hover {
      background-color: #FED955;
    }
  }
}


}